* {
  margin: 0;
	padding: 0;
	border: 0;
  box-sizing: border-box;
}

h1, h2, h3, ul, li, p, span {
  font-family: 'Roboto Mono', monospace;
}

.header__content {
  background: linear-gradient(50deg, #5D35B5, #C067D1);
}

.header__content nav {
  width: 1024px;
  height: 104px;
  margin: 0 auto;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header__content nav img {
  width: 114px;
  height: 40px;
}


.header__items {
  display: flex;
  gap: 5rem;
}

.header__items li {
  color: #fff;
  font-size: 18px;
  list-style-type: none;
  font-weight: 700;
}